{% extends 'blog/basic.html' %}
{% block css %}
 img{
    height:200px;
    width:150px;
   }
{% endblock%}
{% block body %}

<div class="container">

    <div class="row my-2">
        {% for i in postblog %}
        
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="blogposts">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{i.title}}</strong>
                    <h3 class="mb-0">{{i.head0}}</h3>
                    <div class="mb-1 text-muted">{{i.pub_date}}</div>
                    <p class="card-text mb-auto">{{ i.chead0|slice:":100" }}...
                    </p>
                    <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
            
                        <img src="/media/{{i.thumbnail}}" alt="">
                        
                </div>
                
                
            </div>
        </div>
        {% endfor %}

            </div>
        </div>
   
{% endblock %}
{% block js %}
<script>
    
</script>{% endblock  %}
