{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}" width="233px" height="385px">
    </div>
    <p></p>
        <div class="row">
            <a href="/shop/checkout"><button class="btn btn-primary mx-3">Buy Now</button></a>
            <span id='hell'>
            <button class="btn btn-primary" onclick="addcart('{{product.id}}','{{product.product_name}}','{{product.price}}')">Add To Cart </button>
            </span>
        </div>

    </div>

    <div class="col-md-8">
        <h5 id='namepr+{{product.id}}'>{{product.product_name}}</h5>
        <p><b>Rs.{{product.price}} </b></p>
        <p>{{product.desc}}</p>


    </div>
    </div>


</div>




{% endblock %}




{% block js %}
<script>
// Find out the cart items from localStorage
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum=0
    for (const i in cart) {
        sum+=cart[i][0]
    }
    document.getElementById('cart').innerHTML=sum

console.log(cart)
function addcart(id,name,price) {
    mid='pr'+id
    console.log(mid)
    if (cart[mid] != undefined) {
        cart[mid][0]+=1
    } else {
        cart[mid]=[1,name,price]
        
    }
    updatecart()

}
function minus() {
    var mid='pr'+{{product.id}}
    if (cart[mid][0]>0) {
        cart[mid][0]-=1
}

    updatecart()
}

function plus() {
    var mid='pr'+{{product.id}}
    cart[mid][0]+=1
    updatecart()
}
function updatecart() {
    document.getElementById('hell').innerHTML = "<button onclick='minus()' class='btn btn-primary'>-</button> <span id='val'>" + cart[mid][0] + "</span>  <button onclick='plus()' class='btn btn-primary'> + </button>";
    var sum=0
    for (const i in cart) {
        sum+=cart[i][0]
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML=sum
    updatePopover(cart);

    console.log(cart)
}

$('#popcart').popover();
updatePopover(cart);
function updatePopover(cart) {
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + cart[item][1].slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i + 1;
    }
    popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}
function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    localStorage.clear();
    cart = {};
    updatecart()

}

</script>
{% endblock %}
